<div class="container my-3">
<div>
    <div class="d-flex my-3">
      <div>
        <h2 class="text-primary"><i>Top 10 Songs</i></h2>
      </div>
        <div  style="margin-left: auto;justify-content:end;justify-item:end;">
          <button  class="btn btn-outline-primary" routerLink="/addsong">Add Song</button>
        </div>
    </div>
    <div>
        <table class="table table-striped border">
            <thead>
              <tr>
                
                <th scope="col">Artwork</th>
                <th scope="col">Song</th>
                <th scope="col">DOR</th>
                <th scope="col">Artist</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of songs">
                <td> <img src="{{item.image}}" alt=""></td>
                <td>{{item.songsname}}</td>
                <td>{{item.DOR}}</td>
                <td>{{item.Artists}}</td>
                <td>{{item.Rating
                  }}</td>
                <td></td>
                <td>
                  <i class="fa" [class.fa-star]="star[0]" [class.fa-star-o]="!star[0]" (click)="Onstar(0)" aria-hidden="true"></i>
                  <i class="fa" [class.fa-star]="star[1]" [class.fa-star-o]="!star[1]" (click)="Onstar(1)" aria-hidden="true"></i>
                  <i class="fa" [class.fa-star]="star[2]" [class.fa-star-o]="!star[2]" (click)="Onstar(2)" aria-hidden="true"></i>
                  <i class="fa" [class.fa-star]="star[3]" [class.fa-star-o]="!star[3]" (click)="Onstar(3)" aria-hidden="true"></i>
                  <i class="fa" [class.fa-star]="star[4]" [class.fa-star-o]="!star[4]" (click)="Onstar(4)" aria-hidden="true"></i>
                </td>
              </tr>
              <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr> -->
            </tbody>
          </table>
    </div>
</div>
</div>

<!-- top 10 songs -->
<div class="container my-3">
  <div>
      <div class="d-flex my-3">
        <div>
          <h2 class="text-primary"><i>Top 10 Artists</i></h2>
        </div>
          <!-- <div  style="margin-left: auto;justify-content:end;justify-item:end;">
            <button  class="btn btn-outline-primary" routerLink="/addsong">Add Song</button>
          </div> -->
      </div>
      <div>
          <table class="table table-striped border">
              <thead>
                <tr>
                  
                  <th scope="col">Artists</th>
                  <th scope="col">DOB</th>
                  <th scope="col">Songs</th>
                  <th scope="col">Ratings</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of artist">
                  <td>{{item.Aname}}</td>
                  <td>{{item.ADOB}}</td>
                  <td>{{item.Asongs}}</td>
                  <td>
                    <i class="fa" [class.fa-star]="star[0]" [class.fa-star-o]="!star[0]" (click)="Onstar(0)" aria-hidden="true"></i>
                    <i class="fa" [class.fa-star]="star[1]" [class.fa-star-o]="!star[1]" (click)="Onstar(1)" aria-hidden="true"></i>
                    <i class="fa" [class.fa-star]="star[2]" [class.fa-star-o]="!star[2]" (click)="Onstar(2)" aria-hidden="true"></i>
                    <i class="fa" [class.fa-star]="star[3]" [class.fa-star-o]="!star[3]" (click)="Onstar(3)" aria-hidden="true"></i>
                    <i class="fa" [class.fa-star]="star[4]" [class.fa-star-o]="!star[4]" (click)="Onstar(4)" aria-hidden="true"></i>
                  </td>
                </tr>
                <!-- <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr> -->
              </tbody>
            </table>
      </div>
  </div>
  </div>